[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-extensions = "*"
django-filter = "*"
psycopg2 = "*"
djangorestframework-jsonapi = "*"
pillow = "*"
django-cleanup = "*"
djoser = "*"

[dev-packages]

[requires]
python_version = "3.10"
